.homeIntro {
	height: 85vh;
	background-image: url("/img/sofa-gris-salon-blanco-espacio-copiar.jpg");
	background-size: cover;
	background-position: center;
	/* background-position-y: -190px; */
	background-repeat: no-repeat;
	background-color: #bdbdbd;
	padding-left: 7rem;
	padding-top: 4rem;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.homeIntro__text {
	font-size: 2rem;
	width: 50%;
	margin-bottom: 4rem;
}

.featuredCategoriesSection {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 4rem 7rem;
}

.featuredCategories {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 20px;
	grid-template-areas: 
    "featuredCategories__principal featuredCategories__principal featuredCategories__second featuredCategories__third"
    "featuredCategories__principal featuredCategories__principal featuredCategories__info featuredCategories__info"; 
}

.featuredCategories__principal {
	grid-area: featuredCategories__principal;
}
.featuredCategories__second {
	grid-area: featuredCategories__second;
}
.featuredCategories__third {
	grid-area: featuredCategories__third;
}
.featuredCategories__info {
	grid-area: featuredCategories__info;
}

.featuredCategories__principal,
.featuredCategories__second,
.featuredCategories__third {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	aspect-ratio: 1/1;
}

.featuredCategories__principal--img,
.featuredCategories__second--img,
.featuredCategories__third--img {
	width: 100%;
	height: 100%;
	border-radius: 4px;
}

.featuredCategories__info {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: end;
	gap: 50px;
}

.featuredCategories__info--text {
	text-align: left;
	font-size: 1.7rem;
}

.featuredCategories__info--text span {
	border-bottom: 2px solid black;
	padding-bottom: 2px;
	padding-right: 10px;
}

@media (max-width: 992px) {
	.homeIntro__text {
		font-size: 1.6rem;
		margin-bottom: 2rem;
	}

	.featuredCategoriesSection {
		padding: 3rem 2rem;
	}

	.featuredCategories__info--text {
		font-size: 1.5rem;
	}
}

@media (max-width: 768px) {
	.homeIntro {
		padding-left: 4rem;
		padding-top: 3rem;
	}

	.homeIntro__text {
		width: 80%;
		font-size: 1.4rem;
	}

	.featuredCategories {
		grid-template-areas: 
    "featuredCategories__principal featuredCategories__principal featuredCategories__info featuredCategories__info"
    "featuredCategories__second featuredCategories__second featuredCategories__third featuredCategories__third"; 
	}

	.featuredCategories__principal {
		grid-area: featuredCategories__principal;
	}
	.featuredCategories__second {
		grid-area: featuredCategories__second;
	}
	.featuredCategories__third {
		grid-area: featuredCategories__third;
	}
	.featuredCategories__info {
		grid-area: featuredCategories__info;
	}
}

@media (max-width: 576px) {
	.featuredCategories {
		grid-template-rows: 1fr .3fr 1fr 1fr;
		grid-template-areas: 
    "featuredCategories__principal featuredCategories__principal featuredCategories__principal featuredCategories__principal"
    "featuredCategories__info featuredCategories__info featuredCategories__info featuredCategories__info"
    "featuredCategories__second featuredCategories__second featuredCategories__second featuredCategories__second"
    "featuredCategories__third featuredCategories__third featuredCategories__third featuredCategories__third"; 
	}
	.homeIntro {
		padding: 2.6rem 3rem;
	}

	.homeIntro__text {
		width: 100%;
		font-size: 1.3rem;
	}
}